* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/tokyo-wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  gap: 18px;
}

.primary__btns button, .setting__btns button {
  font-weight: bold;
  font-size: 17px;
  color: #000000;
  background: #FFFFFF;
  border: solid #000000 1px;
  border-radius: 40px;
  padding: 12px;
  opacity: 0.7;
}

.setting__btns button {
  width: 80px;
  padding: 12px;
}

#timer {
  font-size: 9rem;
  color: #FFFFFF;
  font-weight: bold;

}

